<hgroup>
  <h1>Hello and Welcome to Grr . . . Shoppee!</h1>
  <h2>A Ruby on Rails Grocery-Tracking Application That Allows You to Get In and Get Out</h2>
</hgroup>

<div class="flex-parent">
  <div class="flex-child">
    <button>Add Products</button>
  </div>
  <div class="flex-child">
    <button>View Products</button>
  </div>
</div>
