<hgroup>
  <h1>Hello and Welcome to Grr . . . Shoppee!</h1>
  <h2>A Ruby on Rails Grocery App That Helps You Get In and Get Out the Grocery Stores</h2>
</hgroup>

<div class="flex-parent">
  <div class="flex-child">
    <button>
      <%= link_to "Add Products", new_product_path %>
    </button>
  </div>
  <div class="flex-child">
    <button>
      <%= link_to "View Products", products_path %>
     </button>
  </div>
</div>

<div class="flex-parent">
  <a href="https://icons8.com/icon/118431/healthy-food-calories-calculator">
    Healthy Food Calories Calculator icon by Icons8
  </a>
</div>
