<hgroup>
  <h1>Hi, Welcome to Grr. . . Shoppee!</h1>
  <h2>A Ruby on Rails Product-Tracking Application, Cause I Hate Shoppin</h2>  
</hgroup>

<button>Add Products</button>
<button>View Products</button>

