<div class="wallpaper"></div>
  <div class="content">
  <aside class="side">
  <figure class="picture">
    <img id="pictureImage",
         class="picture-image",
         src="images/steaks.jpg",
         height=320
         width=320,
         alt="Picture of Steaks, Bread, and Veggies" >
  </figure>
</aside>
<main class="container">
    <strong>Hello</strong> and <strong>Welcome</strong> to
  <h1 class="app-name">
    Grr . . . Shoppee!
    <hr class="hr">
  </h1>
<div class="description">
  <p>
    A Ruby on Rails Product-Tracking Application
    That Helps You <strong>GET IN</strong> and <strong>GET OUT</strong>
    of the <strong>Grocery Store</strong> . . . <em>FAST!</em>
  </p>
  <div class="flex-lp-parent">
    <div class="flex-lp-child">
      <button>
        <%= link_to "Add Products", new_product_path %>
      </button>
    </div>
    <div class="flex-lp-child">
      <button>
        <%= link_to "View Products", products_path %>
       </button>
    </div>
</div>
<div class="flex-lp-favicon">
    <a href="https://icons8.com/icon/118431/healthy-food-calories-calculator"
       target="_blank">
      Healthy Food Calories Calculator icon by Icons8
    </a>
</div>
</main>
</div>
